body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: rgb(255, 89, 0);
    color: white;
}
.app {
    flex: 1 0 auto;
}
.container-fluid > h1{
    text-align: center;
}
.container-fluid .content-box{
    width: 100%;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:2em;
    border-radius: 0px;
    width: 100%;
    margin: 7px 0px;
}
.content-box .heading, .content-box h1{
    color: black;
    font-weight: 500;
    font-size: 3.8em;
    font-family: 'Roboto';
    letter-spacing: 3px;
    margin-bottom: 0.5em;
    text-align: center;
}
.content-box .subheading,.content-box h2{
    color: black;
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 0.5em;
    text-align: center;
}
.modal-title{
    color: black;
    font-weight: 900;
    font-size: 2em;
    font-family: 'Roboto';
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}
.container-fluid{
    max-width: 1200px;
}
.content-box .paragraph, .content-paragraph,.content-box label,.content-box p,.form-group label{
    color: rgb(78, 78, 78);
    font-size: 1.5em;
    line-height: 33px;
}
.content-box .paragraph strong, .content-paragraph,.content-box label strong,.content-box p strong{
    font-weight: 600;
}
.form-control.form-control-alternative{
    color: black;
    font-size: 1.3em;
}
.form-control.form-control-alternative:focus{
    color: black;
}
.form-control.form-control-alternative::placeholder{
  color: rgba(95, 95, 95, 0.699);
  font-style: italic;
}
.invalid-feedback{
    font-size: 1.1em;
    font-weight: bold;
}
.valid-feedback{
    font-size: 1.1em;
    font-weight: bold;
}
.navbar{
    background-color: rgb(255, 89, 0);
    color: white;
    padding-top: .4rem;
    padding-right: 1rem;
    padding-bottom: .4rem;
    padding-left: 1rem;
}
.navbar-nav .nav-item .nav-link {
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(255,255,255,.75);
}

.navbar-nav .nav-item .nav-link:hover{
    font-weight: bold;
    color: white;

}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
color: white;
}
.navbar-brand{
    font-family: 'Roboto';
    font-size: 1.2em;
}
.sub-nav,.sub-nav a{
    text-align: center;
    font-size: 1.5em;
    font-family: "Roboto";
    letter-spacing: 3px;
    font-style: normal;
    color: rgba(255,255,255,.65);
}
.sub-nav,.sub-nav a.active{
    color: white;
}
.sub-nav a:hover{
    color: white;
}
.round-size-1{
    max-width: 130px;
}
.alert{
    font-size: 1.3em;
    font-family: 'Roboto';
}
.alert b{
    font-size: 1.4em;
    font-family: 'Roboto';
}
.page-title{
    font-size: 6em;
    text-align: center;
    color: white;
    font-family: 'Roboto';
    font-weight: 900;
    margin-bottom: 30px;
    text-shadow: 2px 2px #000000;
}
.badge-nsd {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #005F94;
}
.badge-admin {
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(255, 0, 0);
}
.profile-page-img{
    max-width: 100px;
    padding: 5px;
}
.page-footer{
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center; 
}
.copyright{
    font-size: 0.7em;
}
.footer-text,.footer-text a{
    font-size: 1.1em;
    font-weight: bold;
    color: rgba(255,255,255,.65);
}
.footer-text a:hover{
    color: white;
}
.card-border{
    margin: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    text-align:center;
    max-width: 1000px;
}
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
.row.display-flex > .col {
    display: flex;
    flex-direction: column;
}
.card{
    height: 100%;
}
.card-border .paragraph{
    font-size: 1.1em;
}
.card-border .card-body .heading{
    font-size: 1.6em;
    font-family: 'Bangers';
    letter-spacing: 3px;
    color: black;
}
.card h1{
    color: black;
    font-weight: 500;
    font-size:2em;
    font-family: 'Roboto';
    letter-spacing: 3px;
    margin-bottom: 0.5em;
    text-align: center;
}
.modal-title{
    color: black;
    font-weight: 900;
    font-size: 2em;
    font-family: 'Roboto';
    text-align: center;
}
.modal-body h1{
    color: black;
    font-weight: 500;
    font-size: 1.6em;
    font-family: 'Roboto';
    text-align: center;
}
.custom-toggle input:checked + .custom-toggle-slider {
    border: 1px solid red;
}
.custom-toggle input:checked + .custom-toggle-slider:before {
    background: red;
}
.modal-body p{
    color: rgb(78, 78, 78);
    font-size: 1.5em;
    line-height: 33px;
}